.style_status_off{
    height:20px; background-color: red;
}

.style_status_on{
    height:20px; background-color: green;
}

ion-icon{
    color:black;
}

.title_card{
    margin-bottom: 10px; 
    font-size: 20px;
}
