.style_status{
    font-size: 50px;
    margin:auto; 
    margin-right: 10px;
}

ion-icon{
    color:black;
}

.style_status_off{
    color: red;
}

.style_status_on{
    color: green;
}

.title_card{
    margin-bottom: 10px; 
    font-size: 20px;
}
