
.style_inputs{
    border-style:solid; 
    border-width:2px;
    padding: 0px 5px 0px 5px !important;
    margin-top: 10px !important;
}

.container{
    display: flex;
    height: 100%;
}

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
